{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Zakupów nr albumu 17221</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Lista Zakupów nr albumu 17221</h1>

        <form id="add-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="button" onclick="dodajProdukt()">Dodaj produkt</button>
        </form>

        <table>
            <thead>
                <tr>
                    <th>Nazwa produktu</th>
                    <th>Kupiony</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody id="product-list">
                <!-- Lista produktów generowana przez addEventListener -->
            </tbody>
        </table>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let adres = `http://kuchyw1.atthost24.pl/api/produkty/`
            fetch(adres)
                .then(response => response.json())
                .then(data => {
                    const productList = document.getElementById('product-list');
                    data.forEach(produkt => {
                        const row = document.createElement('tr');
                        row.classList.add(produkt.kupiony ? 'zakupiony' : null);

                        const productNameCell = document.createElement('td');
                        productNameCell.innerHTML = `
                            <span id="nazwa-${produkt.id}">${produkt.nazwa}</span>
                            <input type="text" id="edit_nazwa_${produkt.id}" name="nazwa" value="${produkt.nazwa}" style="display: none" required>
                        `;
                        row.appendChild(productNameCell);

                        const purchasedCell = document.createElement('td');
                        purchasedCell.innerHTML = `
                            <input type="checkbox" disabled="disabled" id="edit_kupiony_${produkt.id}" name="kupiony" ${produkt.kupiony ? 'checked' : ''} style="display: inline">
                        `;
                        row.appendChild(purchasedCell);

                        const actionsCell = document.createElement('td');
                        actionsCell.innerHTML = `
                            <button onclick="toggleEditForm(${produkt.id})">Edytuj</button>
                            <button onclick="zapiszEdycje(${produkt.id})" style="display: none">Zapisz</button>
                            <button onclick="usunProdukt(${produkt.id})">Usuń</button>
                        `;
                        row.appendChild(actionsCell);

                        productList.appendChild(row);
                    });
                })
                .catch(error => console.error('Error:', error));
        });

        function dodajProdukt() {
            var form = document.getElementById('add-form');
            var formData = new FormData(form);

            let adres = `http://kuchyw1.atthost24.pl/api/produkty/`
            fetch(adres, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': formData.get('csrfmiddlewaretoken'),
                },
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                location.reload();
            })
            .catch(error => console.error('Error:', error));
        }

        function toggleEditForm(productId) {
            document.getElementById(`nazwa-${productId}`).style.display = 'none';
            document.getElementById(`edit_nazwa_${productId}`).style.display = 'inline';
            document.getElementById(`edit_kupiony_${productId}`).removeAttribute("disabled");
            document.querySelector(`button[onclick="toggleEditForm(${productId})"]`).style.display = 'none';
            document.querySelector(`button[onclick="zapiszEdycje(${productId})"]`).style.display = 'inline';
        }

        function zapiszEdycje(productId) {
            var nowaNazwa = document.getElementById(`edit_nazwa_${productId}`).value;
            var nowyKupiony = document.getElementById(`edit_kupiony_${productId}`).checked;

            let adres = `http://kuchyw1.atthost24.pl/api/produkty/${productId}/`
            fetch(adres, {
                method: 'PUT',
                body: JSON.stringify({
                    nazwa: nowaNazwa,
                    kupiony: nowyKupiony,
                }),
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                },
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                location.reload();
            })
            .catch(error => console.error('Error:', error));
        }

        function usunProdukt(productId) {
            let adres = `http://kuchyw1.atthost24.pl/api/produkty/${productId}/`
            fetch(adres, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                },
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                location.reload();
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
